
<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
        <h1>Administradores</h1>
         <div class="tc">
 

        <%= form_tag('/') do %>
                <div class="field">
                <%= label_tag :email %><br>
                <%= text_field_tag :email , nil ,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
                </div>
                <div class="field">
                <%= label_tag :password %><br>
                <%= text_field_tag :password ,nil ,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" :type => "password" %>
            </div>
            <div><a href="javascript:postData('/api/v1/create_admin')" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" >Crear</a></div>
        <% end %>

         </div>
        </article>
        



<script>
function postData(url = ``) {
  // Default options are marked with *
   var email = $('#email').val()
   var password = $('#password').val()
   data = {email: email,password: password}
    return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
            "Content-Type": "application/json",
            // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
       
    })
    .then(response => response.json(),window.location.href = "/admins"); // parses JSON response into native Javascript objects 
    
}
</script>