<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos NNI LATAM</title>
    <link href="../../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/es.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
   
</head>
<body>
<div id="page-container">
        <nav class="db dt-l w-100 border-box pa3 ph5-l">
        <a class="db dtc-l   w-100 w-25-l tc tl-l mb2 mb0-l" href="#" >
        <img src="https://firebasestorage.googleapis.com/v0/b/certificados-fe53d.appspot.com/o/Logo_NNI_sistemas.png?alt=media&token=4bf7e8f2-2602-4a05-b5b6-050882982791">
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a style="font-size:16px; display:block!important" class="user" href="#"><%= @nickName %></a>
    </div>
        </a>
        
        </nav>
   <div id="content-wrap">
     <!-- all other page content -->
     <div class="row">
                            <div class="col">
                            
                            </div>
                            <div class="col-6">
                            <h3 style="text-align: center; margin-bottom: 50px;">Eventos NNI Latam</h3>
                                    <p class="subtitulos" style="text-align: center; margin-bottom: 30px!important;">Favor de elegir en que evento deseas registrar tu correo electrónico</p>
                            </div>
                            <div class="col">
                            </div>
                          </div>
                         <div class="row">
                            <div class="col-12">
                                  <div class="span3">

                                    <ul class="list pl0 mt0 measure center">
                                              <% @events.each do |event| %>
                                            <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">  
                                            <div class="pl3 flex-auto">
                                                <span class="f6 db black-70 n"><%= event.name %></span>
                                                <span class="f8 db black-30 d"><%= event.description %></span>
                                                <% @registrado =  EventRegister.where(:eventId => event.id).where(:email => @email ).pluck(:id).first %>
                                            </div>
                                            <div>
                                                <% if @registrado.blank? %>
                                                <a href="javascript:save('<%= @firstName %>', '<%= @lastName %>', '<%= @nickName %>','<%=  @email %>',<%=  event.id %>,'<%=  @country %>');" class="registrar"> Registrarme </a>
                                                <% else %>
                                                 <a href="<%= event.urlTolink %>" class="registrado">Registrado </a> 
                                                <% end %>
                                            </div>
                                       </li>
                                        <% end %>
                                        
                                    </ul>
                                    <div class=" pagination justify-content-center" >
                                    <%= paginate @events, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
                                    </div>
                                  
                                  </div>  

                            </div>
                         </div>
                         
                         
   </div>
   <footer id="footer">
      
        <div class="col-12 botonback pagination justify-content-center">

        <a href='<%= Setting.all.pluck(:urlReditectionTokenEmpty).first %>' style="position: absolute; bottom: 50px!important;text-align: center" class="regresar" > Regresar </a>
        </div>
        <div class="green">
        </div>
        <div class="subtitle">Sólo para Profesionales de la Salud</div>
        <div class="institute">2019 Nestlé Nutrition Institute</div>
        <nav class="db dt-l w-100 border-box pa4 ph5-l">

        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/aviso-de-privacidad" >Política de Privacidad</a>
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/politica-de-cookies" >Política de Cookies</a>
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/terminos-y-condiciones" >Términos y Condiciones</a>
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="mailto:soporte@nniacademy.com" >Contáctenos</a>

        </div>
        </nav>

   </footer>
 </div>
</body>
  
</html>


<script>
 
   function save(firstName, lastName, nickName, email, eventId, country){
    swal ( "Registro" ,  "Registro con exito!" ,  "success" )
    swal({
        title: "Aviso",
        text: "Al registrarse a estos eventos estás aceptando explicitamente tu consentimiento para la recepción de correos electrónicos de NNI Latam a tu dirección de correo registrada acerca de estos eventos. ¿Aceptas?",
        icon: "warning",
        buttons: ["No", "Si"],
        dangerMode: true,
        })
    .then((willDelete) => {
    if (willDelete) {
        swal("¡Gracias! Te hemos registrado", {
        icon: "success",
        });
        postData(`/api/v1/registrar_evento`, {firstName: firstName, lastName: lastName, nickName: nickName, email:email, eventId: eventId, country: country})
        .then(data => console.log(JSON.stringify(data))) // JSON-string from `response.json()` call
        .catch(error => console.error(error));
        setTimeout(function(){ window.location.href = "/thankyou?event=" + eventId + "&nickname=" + nickName + "&token=" + "<%= params[:token]%>" ; }, 2000);
        
    } else {
    
    }
    });
    
   }


function postData(url = ``, data = {}) {
  // Default options are marked with *
    return fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
            "Content-Type": "application/json",
            // "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
        body: JSON.stringify(data), // body data type must match "Content-Type" header
       
    })
    .then(response => response.json()); // parses JSON response into native Javascript objects 
    
}
  
</script>