<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos NNI LATAM</title>
    <link href="../../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/es.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="shortcut icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/certificados-fe53d.appspot.com/o/Favicon_NNI-01.png?alt=media&token=d3f7c0d8-8992-44c0-bdf4-c29f0deb996f"/>
    <%= @headEvento.try(:html_safe) %>
 </head>
<body>
    <%= @bodyEvento.try(:html_safe) %>
    <%= @head_evento %>
<div id="page-container">
        <nav class="db dt-l w-100 border-box pa3 ph5-l">
                <a class="db dtc-l   w-100 w-25-l tc tl-l mb2 mb0-l" href="#" >
                <img src="https://firebasestorage.googleapis.com/v0/b/certificados-fe53d.appspot.com/o/Logo_NNI_sistemas.png?alt=media&token=4bf7e8f2-2602-4a05-b5b6-050882982791">
                <div class="db dtc-l  w-100 w-75-l tc tr-l">
                <a  href="#" class="user"><%= params[:nickname] %></a>
                </div>
                </a>
        </nav>
   <div id="content-wrap">
     <!-- all other page content -->
     <div class="row">
                            <div class="col">
                            
                            </div>
                            <div class="col-6" >
                            <h3 style="text-align: center; margin-top: 100px; font-family:arial; font-size:24px; color:#4d4d4d;" >Eventos NNI Latam</h3>
                        
                            </div>
                            <div class="col">
                            </div>
                          </div>
                         <div class="row" style="margin-bottom:200px!important";>
                            <div class="col-12">          
                                    <div class="span4 pagination justify-content-center font-family:arial; font-size:18px; color:#4d4d4d; " >
                                    <%= Event.where(:id => params[:event]).pluck(:message).first %>
                                    </div>
                            </div>
                         </div>    
   </div>
   <footer id="footer">
      
        <div class="col-12 botonback pagination justify-content-center">

        <a href='/home/index?token=<%= params[:token] %>' style="position: absolute; bottom: 50px!important;text-align: center" class="regresar" > Regresar </a>
        </div>
        <div class="green">
        </div>
        <div class="subtitle">Sólo para Profesionales de la Salud</div>
        <div class="institute">2019 Nestlé Nutrition Institute</div>
        <nav class="db dt-l w-100 border-box pa4 ph5-l">

        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/aviso-de-privacidad" >Política de Privacidad</a>
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/politica-de-cookies" >Política de Cookies</a>
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/terminos-y-condiciones" >Términos y Condiciones</a>
        <a class="link dim white f6 f7-l dib mr3 mr3-l" href="mailto:soporte@nniacademy.com" >Contáctenos</a>

        </div>
        </nav>

   </footer>
 </div>
</body>
  
</html>
