
<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
<h1>Eventos</h1>
 <div class="tc">
 <%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <p> Nombre del evento </p>
    <%= form.text_field :name ,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="field">
  <p> Descripción del evento </p>
    <%= form.text_field :description ,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="field">
    <p> Mensaje </p>
    <%= form.text_field :message,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="field">
  <p> Url de redireccionamiento </p>
    <%= form.text_field :urlTolink,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>
  <div class="field">
  <p> Texto de botón de redireccionamiento </p>
    <%= form.text_field :boton_texto,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="field">
   <p> Estatus del evento </p>
   
    <select class="input-reset ba b--black-20 pa2 mb2 db w-100" name="event[active]">
    <option value="">Please select</option>
    <option value="1" selected="selected">Activo</option>
    <option value="0">No activo</option>
   
  </select>
  </div>

  <div class="field">
  <p> Posición del evento </p>
    <%= form.text_field :position,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>

  <div class="field">
  <p> Código Head Página Eventos </p>
    <%= form.text_field :headOne,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>
  <div class="field">
  <p> Código Body Página Eventos </p>
    <%= form.text_field :bodyOne,:class=> "input-reset ba b--black-20 pa2 mb2 db w-100" %>
  </div>
  <div class="field">
    <%= form.hidden_field :userID,:value => current_admin.id %>
  </div>
  <div class="actions">
    <%= form.submit "Guardar" , :class=>"f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green" %>
    <a href="/events" style="color: white" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-red">Cancelar</a>
  </div>
<% end %>
 </div>
</article>


