<%= form_with(model: event_register, local: true) do |form| %>
  <% if event_register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_register.errors.count, "error") %> prohibited this event_register from being saved:</h2>

      <ul>
      <% event_register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firtsName %>
    <%= form.text_field :firtsName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :nickName %>
    <%= form.text_field :nickName %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :eventId %>
    <%= form.text_field :eventId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
